

.contact {
  background-color: var(--purple-color);
}
.contact__content {
  background-color: var(--bg-color);
  border-radius: 24px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 1440px) {
    padding: 64px 0;
    width: 896px;
    margin: 0 auto;
  }
}

.contact__picture {
  background-color: var(--purple-color);
  width: 64px;
  height: 64px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @media only screen and (min-width: 1440px) {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }
}

.contact_icon {
  width: 40px;
  height: 40px;
  fill: none;
  stroke: var(--white-color);

}

.contact__title {
  font-family: var(--font-manrope);
  font-size: 30px;
  color: var(--black-color);
  margin-bottom: 20px;

  @media only screen and (min-width: 1440px) {
    font-size: 50px;
    margin-bottom: 46px;
  }
}

.contact__decr-wraper {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
  margin-bottom: 23px;

  @media only screen and (min-width: 1440px) {
    gap: 16px;
    margin-bottom: 32px;
    max-width: 678px;
  }
}

.contact__text {
  font-family: var(--font-inter);
  font-size: 13px;

  @media only screen and (min-width: 1440px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.contact__email {
  font-family: var(--font-manrope);
  font-size: 14px;
  color: var(--white-color);
  background-color: var(--purple-color);
  padding: 14px 40px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);;
  transition: transform 0.3s ease, opacity 0.3s ease, color 0.3 ease;

  &:hover {
    color:var(--accent-color);
    opacity: 0.95;
    transform: translateY(-1px);
  }


  @media only screen and (min-width: 1440px) {
    font-size: 18px;
    width: 358px;
    padding: 20px 40px;
    border-radius: 24px;
  }
}

.contact_icon-arr{
  width: 18px;
  height: 28px;
  stroke: currentColor;
  fill: currentColor;
}