

.ftr_footer {
  background-color: var(--purple-color);
  padding: 32px 0;

  @media only screen and (min-width: 1440px) {
    padding: 50px 0;
  }
}

.ftr_footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media only screen and (min-width: 1440px) {
    justify-content: center;
      flex-direction: row-reverse;
      gap: 192px;
    }

}

.ftr_footer-links-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media only screen and (min-width: 1440px) {
    gap: 16px;
  }
}

.ftr_footer-link {
  font-size: 16px;
  line-height: 1.4;
  color: var(--white-color);
  transition:color 0.3s ease;

  &:hover {
    color: var(--accent-color);
  }
  &:not(:last-child)::after {
    content: '/';
    color: var(--white-color);
    margin-left: 12px;
    display: inline-block;
    pointer-events: none;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 18px;

    &:not(:last-child)::after {
      margin-left: 16px;
    }
  }
}

.ftr_footer-copyright {
  font-size: 14px;
  color: var(--white-color);
  text-align: center;
  @media only screen and (min-width: 1440px) {
      font-size: 18px;
  }
}