<article class="challenges" id="challenges">
  <div class="chl_container container">
    <div class="chl_content">
      <h2 class="chl__title">Creative Challenges</h2>
      <div class="chl_decr-wraper">
        <p class="chl_text">
          BrandMaster isn’t just about puzzles—it’s about creativity under
          pressure. Weekly branding contests pit you against players worldwide.
          Use your puzzle skills and design flair to outmatch others and earn
          exclusive rewards.
        </p>
        <p class="chl_text">
          Your creations live in a virtual showroom, where others can view and
          draw inspiration from your work. Challenge yourself to build bold
          logos, experiment with styles, and push the boundaries of casual
          gaming creativity.
        </p>
      </div>
    </div>

    <div class="chl__visual">
      <figure class="chl__figure">
        <picture class="chl__picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/challenge/challenge.png,
              /img/challenge/challenge@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              /img/challenge/challenge-mob.png    1x,
              /img/challenge/challenge-mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="chl__img"
            src="/img/challenge/challenge-mob.png"
            alt="Creative Challenges "
            width="356"
            height="636"
          />
        </picture>
      </figure>
    </div>
  </div>
</article>
