<article class="contact" id="contact">
  <div class="container contact__container">
    <div class="contact__content">
      <h2 class="contact__title">Join the Brandfield Pro Community</h2>
      <p class="contact__text">
        Ready to build your agency empire? Stay connected with other players,
        share strategies, or get the latest updates and tips by reaching out.
        Have questions or want to learn more? Send a message to our team.
      </p>
      <a href="mailto:support@brandfield.pro" class="contact__email"
        >support@brandfield.pro</a
      >
    </div>

    <figure class="contact__image-box">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="img/contact/contact.png 1x, img/contact/contact@2x.png 2x"
        />
        <source
          srcset="
            img/contact/contact-mob.png    1x,
            img/contact/contact-mob@2x.png 2x
          "
        />
        <img
          src="img/contact/contact.png"
          alt="Brandfield Pro Community"
          class="contact__img"
          loading="lazy"
        />
      </picture>
    </figure>
  </div>
</article>
