<article class="contact" id="contact">
  <div class="container">
    <div class="contact__content">
      <div class="contact__picture">
        <svg class="contact_icon">
          <use href="/sprite.svg#icon-contact"></use>
        </svg>
      </div>
      <h2 class="contact__title">Contact</h2>
      <div class="contact__decr-wraper">
        <p class="contact__text">
          Have questions or want to share feedback? We’re here to listen.
        </p>
        <p class="contact__text">
          Reach out via email at support@brandmarker.online.
        </p>
        <p class="contact__text">
          We’re committed to making BrandMaster an engaging and enjoyable
          experience and welcome your thoughts on gameplay, features, or
          anything else.
        </p>
      </div>

      <a href="mailto:support@brandmarker.online" class="contact__email"
        >support@brandmarker.online
        <svg class="contact_icon-arr">
          <use href="/sprite.svg#icon-arr"></use>
        </svg>
      </a>
    </div>
  </div>
</article>
