<footer class="ftr_footer">
  <div class="container ftr_footer-wrapper">
    <span style="display: none">Generated: 2025-04-07, Hash: f83hd7x</span>
    <a href="./index.html" class="ftr_footer-logo">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/logo.png 1x, /img/logo@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="/img/logo-mobile.png 1x, /img/logo-mobile@2x.png 2x"
          type="image/png"
        />
        <img
          class="ftr_footer-logo-img"
          src="/img/logo-mobile.png"
          alt="Brandfield PRO Logo"
        />
      </picture>
    </a>

    <ul class="ftr_footer-list">
      <li class="ftr_footer-item">
        <a class="ftr_footer-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="ftr_footer-item">
        <a class="ftr_footer-link" href="./terms-conditions.html"
          >Terms & Conditions</a
        >
      </li>
    </ul>

    <p class="ftr_footer-copyright">
      <span class="ftr_footer-copy-main"
        >All rights reserved brandfield.pro | 2026</span
      >
    </p>
  </div>
</footer>
