<header class="hdr_header">
  <div class="container">
    <a href="./" class="hdr_logo-link">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/logo.png 1x, /img/logo@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="/img/logo-mobile.png 1x, /img/logo-mobile@2x.png 2x"
          type="image/png"
        />
        <img
          class="hdr_logo-img"
          src="/img/logo-mobile.png"
          alt="Brandfield PRO Logo"
          width="168"
          height="32"
        />
      </picture>
    </a>
    <button class="hdr_btn-burger" type="button" data-menu-open>
      <svg class="hdr_btn-burger-icon">
        <use href="/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="hdr_navigation">
      <ul class="hdr_list-navigation">
        <li class="hdr_item-navigation">
          <a href="#" class="hdr_item-nav-link">Home</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="#how-it-works" class="hdr_item-nav-link">How it Works</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="#features" class="hdr_item-nav-link">Features</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="#reviews" class="hdr_item-nav-link">Play Stories</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="#contact" class="hdr_item-nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
