<article class="hero" id="home">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Welcome to <span class="hero__title-accent">Brandfield Pro</span>
      </h1>
      <p class="hero__text">
        Step into the world of branding mastery with Brandfield Pro, the
        strategy game that puts you in the driver's seat of your own branding
        agency. Here, every decision counts—from crafting compelling campaigns
        to managing client relationships. Your challenge? Build the most
        successful agency by outsmarting the competition and setting new
        standards in the branding world. Whether you're a strategist at heart or
        a creative thinker, your journey to the top starts now.
      </p>
    </div>

    <div class="hero__visual">
      <div class="hero__glow"></div>

      <figure class="hero__figure">
        <picture class="hero__dashboard">
          <source
            media="(min-width: 1440px)"
            srcset="/img/hero/hero.png 1x, /img/hero/hero@2x.png 2x"
            type="image/png"
          />
          <source
            srcset="/img/hero/hero-mob.png 1x, /img/hero/hero-mob@2x.png 2x"
            type="image/png"
          />
          <img
            class="hero__dashboard-img"
            src="/img/hero/hero-mob.png"
            alt="Brandfield Pro Dashboard"
            width="385"
            height="385"
          />
        </picture>
      </figure>
    </div>
  </div>
</article>
