<article class="how" id="how-it-works">
  <div class="container how__container">
    <div class="how__content">
      <h2 class="how__title">How to Play</h2>
      <div class="how__descr-wraper">
        <p class="how__text">
          BrandMaster’s gameplay is simple to pick up but rewarding to master.
          Match tiles by color and shape to generate essential brand elements —
          fonts, icons, and color swatches. As you progress, merge these
          elements to craft custom logos that reflect your creative vision.
        </p>
        <p class="how__text">
          Each level introduces new puzzles and design assets inspired by
          real-world branding challenges. Some levels require sharp logic to
          unlock premium resources, while others test your ability to merge
          assets efficiently.
        </p>
        <p class="how__text">
          No prior design experience needed—just your imagination and a knack
          for puzzles.
        </p>
      </div>
    </div>
  </div>
</article>
