<article class="how" id="how-it-works">
  <div class="container how__container">
    <div class="how__content">
      <h2 class="how__title">How It Works</h2>
      <p class="how__text">
        Brandfield Pro isn't just a game; it's a deep dive into the art and
        science of branding. Begin by choosing your agency's focus and
        assembling a team of talented specialists. You'll manage budgets, pitch
        campaigns, negotiate contracts, and respond to market trends. Each
        campaign you launch shapes your reputation, influences client loyalty,
        and impacts your growth. Strategic planning and quick thinking will be
        your best tools as you navigate challenges and opportunities alike.
      </p>
    </div>

    <figure class="how__figure">
      <picture class="how__picture">
        <source
          media="(min-width: 1440px)"
          srcset="/img/how-it-works/how.png 1x, /img/how-it-works/how@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="
            /img/how-it-works/how-mob.png    1x,
            /img/how-it-works/how-mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="how__img"
          src="/img/how-it-works/how-mob.png"
          alt="Brandfield Pro team working in the office"
          width="304"
          height="196"
        />
      </picture>
    </figure>
  </div>
</article>
