<div class="mm_mobile-menu" data-visible="close">
  <button class="mm_close-btn" type="button" data-menu-close>
    <svg class="mm_btn-close-icon">
      <use href="/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mm_list-navigation" data-menu-navigation>
    <li class="mm_item-navigation">
      <a href="#" class="mm_item-nav-link">Home</a>
    </li>
    <li class="mm_item-navigation">
      <a href="#how-it-works" class="mm_item-nav-link">How It Works</a>
    </li>

    <li class="mm_item-navigation">
      <a href="#features" class="mm_item-nav-link">Features</a>
    </li>
    <li class="mm_item-navigation">
      <a href="#reviews" class="mm_item-nav-link">Play Storles</a>
    </li>
    <li class="mm_item-navigation">
      <a href="#contact" class="mm_item-nav-link">Contact</a>
    </li>
  </ul>
</div>
